In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df = pd.read_csv('downloads/dirty_cafe_sales.csv')

pd.options.display.max_columns=None
pd.options.display.expand_frame_repr = False

from IPython.core.display import display, HTML
display(HTML("<style>div.output_area pre {white-space: pre;}</style>"))

/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3255198766.py:9: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
df.head(50)

   Transaction ID      Item Quantity Price Per Unit Total Spent  Payment Method  Location Transaction Date
0     TXN_1961373    Coffee        2            2.0         4.0     Credit Card  Takeaway       2023-09-08
1     TXN_4977031      Cake        4            3.0        12.0            Cash  In-store       2023-05-16
2     TXN_4271903    Cookie        4            1.0       ERROR     Credit Card  In-store       2023-07-19
3     TXN_7034554     Salad        2            5.0        10.0         UNKNOWN   UNKNOWN       2023-04-27
4     TXN_3160411    Coffee        2            2.0         4.0  Digital Wallet  In-store       2023-06-11
5     TXN_2602893  Smoothie        5            4.0        20.0     Credit Card       NaN       2023-03-31
6     TXN_4433211   UNKNOWN        3            3.0         9.0           ERROR  Takeaway       2023-10-06
7     TXN_6699534  Sandwich        4            4.0        16.0            Cash   UNKNOWN       2023-10-28
8     TXN_4717867       NaN        5            3.0        15.0             NaN  Takeaway       2023-07-28
9     TXN_2064365  Sandwich        5            4.0        20.0             NaN  In-store       2023-12-31
10    TXN_2548360     Salad        5            5.0        25.0            Cash  Takeaway       2023-11-07
11    TXN_3051279  Sandwich        2            4.0         8.0     Credit Card  Takeaway            ERROR
12    TXN_7619095  Sandwich        2            4.0         8.0            Cash  In-store       2023-05-03
13    TXN_9437049    Cookie        5            1.0         5.0             NaN  Takeaway       2023-06-01
14    TXN_8915701     ERROR        2            1.5         3.0             NaN  In-store       2023-03-21
15    TXN_2847255     Salad        3            5.0        15.0     Credit Card  In-store       2023-11-15
16    TXN_3765707  Sandwich        1            4.0         4.0             NaN       NaN       2023-06-10
17    TXN_6769710     Juice        2            3.0         6.0            Cash  In-store       2023-02-24
18    TXN_8876618      Cake        5            3.0        15.0            Cash     ERROR       2023-03-25
19    TXN_3709394     Juice        4            3.0        12.0            Cash  Takeaway       2023-01-15
20    TXN_3522028  Smoothie    ERROR            4.0        20.0            Cash  In-store       2023-04-04
21    TXN_3567645  Smoothie        4            4.0        16.0     Credit Card  Takeaway       2023-03-30
22    TXN_5132361  Sandwich        3            4.0        12.0  Digital Wallet  Takeaway       2023-12-01
23    TXN_2616390  Sandwich        2            4.0         8.0             NaN       NaN       2023-09-18
24    TXN_9400181  Sandwich        5            4.0        20.0            Cash  In-store       2023-06-03
25    TXN_7958992  Smoothie        3            4.0         NaN         UNKNOWN   UNKNOWN       2023-12-13
26    TXN_5183041    Cookie        5            1.0         5.0     Credit Card  In-store       2023-04-20
27    TXN_5695074     Juice        4            3.0        12.0     Credit Card  Takeaway       2023-04-10
28    TXN_8467949  Smoothie        5            4.0        20.0     Credit Card       NaN       2023-03-11
29    TXN_7640952      Cake        4            3.0        12.0  Digital Wallet  Takeaway            ERROR
30    TXN_1736287       NaN        5            2.0        10.0  Digital Wallet       NaN       2023-06-02
31    TXN_8927252   UNKNOWN        2            1.0       ERROR     Credit Card     ERROR       2023-11-06
32    TXN_9677376  Smoothie        4            4.0        16.0             NaN  In-store       2023-08-15
33    TXN_7710508   UNKNOWN        5            1.0         5.0            Cash       NaN            ERROR
34    TXN_8853997  Smoothie        2            4.0         8.0  Digital Wallet  Takeaway       2023-10-09
35    TXN_9130559  Sandwich        1            4.0         4.0     Credit Card   UNKNOWN       2023-05-28
36    TXN_6855453   UNKNOWN        4            3.0        12.0             NaN  In-store       2023-07-17
37    TXN_1080432     Salad        2            5.0        10.0     Credit Card  In-store       2023-04-29
38    TXN_2655815  Smoothie        4            4.0        16.0             NaN  Takeaway       2023-06-08
39    TXN_6688524    Coffee        4            2.0         8.0           ERROR       NaN       2023-06-29
40    TXN_2083138  Smoothie        3            4.0        12.0             NaN  In-store       2023-04-17
41    TXN_2427584  Sandwich        4            4.0        16.0             NaN  Takeaway       2023-12-22
42    TXN_6650263       Tea        2            1.5     UNKNOWN             NaN  Takeaway       2023-01-10
43    TXN_9620080     Juice        4            3.0        12.0             NaN  Takeaway       2023-10-02
44    TXN_1491578    Cookie        2            1.0         2.0             NaN       NaN       2023-02-23
45    TXN_5455792     Salad        3            5.0        15.0            Cash       NaN       2023-03-22
46    TXN_8078640     Juice        4            3.0        12.0  Digital Wallet  In-store       2023-11-03
47    TXN_9499313     Juice        5            3.0        15.0             NaN       NaN       2023-03-02
48    TXN_8201146     Juice        5            3.0        15.0            Cash       NaN       2023-06-26
49    TXN_8230936      Cake        3            3.0         9.0             NaN     ERROR       2023-05-02

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None

In [4]:
print(df.isna().sum())
print(f'\nThere are {df.duplicated().sum()} duplicate rows in dataset.')

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

There are 0 duplicate rows in dataset.

In [5]:
txn_count = df["Transaction ID"].value_counts().sort_values(ascending = False)
txn_count

Transaction ID
TXN_1961373    1
TXN_4717867    1
TXN_6769710    1
TXN_4271903    1
TXN_7034554    1
              ..
TXN_2739140    1
TXN_4766549    1
TXN_7851634    1
TXN_7672686    1
TXN_6170729    1
Name: count, Length: 10000, dtype: int64

#### 
There are no recurring transaction ID.

### Comments on data

##### Messy data 
1. Unknown data in Item column
    - Use 'Price per unit' to determine the item
2. Error values in Quantity column
    - Use 'Total Spent' / 'Price per unit' to get value
3. Error values in 'Total Spent' column
    - Use 'Quantity' * 'Price per unit' to get value
4. Unknown / NaN / Error values in 'Payment Method' column
    - Have to determine if we need to drop them or just leave them
5. Unknown / NaN / Error values in 'Location' column
    - Have to determine if we need to drop them or just leave them
6. Unknown / NaN / Error values in 'Transaction Date' column
    - Have to determine if we need to drop them or just leave them

##### Dtypes
1. To be changed to integer: 
    - Quantity
2. To be changed to float: 
    - Price per unit
    - Total Spent
3. To be changed to datetime: 
    - Transaction Date

In [6]:
columns_to_convert = {
    "Quantity": "int",
    "Price Per Unit": "float",
    "Total Spent": "float",
    "Transaction Date": "datetime64[ns]"
}

for col, dtype in columns_to_convert.items():
    if dtype.startswith("datetime"):
        df[col] = pd.to_datetime(df[col], errors="coerce")
    else:
        df[col] = pd.to_numeric(df[col], errors="coerce")
    # Handle missing values after coercion (optional)
    if dtype == "int":
        df[col] = df[col].fillna(0).astype("int")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 625.1+ KB

In [8]:
for col in df.columns[1:5]:  
    print(f'{col} : {df[col].unique()}')

Item : ['Coffee' 'Cake' 'Cookie' 'Salad' 'Smoothie' 'UNKNOWN' 'Sandwich' nan
 'ERROR' 'Juice' 'Tea']
Quantity : [2 4 5 3 1 0]
Price Per Unit : [2.  3.  1.  5.  4.  1.5 nan]
Total Spent : [ 4.  12.   nan 10.  20.   9.  16.  15.  25.   8.   5.   3.   6.   2.
  1.   7.5  4.5  1.5]

------------

## Rectify Item column

In [9]:
print(f'There are {df["Item"].nunique()} unique items sold.')
print(f'Unique values in Item category: \n {df["Item"].unique()}')

items_prices = {
    "Coffee": 2,
    "Tea": 1.5,
    "Sandwich": 4,
    "Salad": 5,
    "Cake": 3,
    "Cookie": 1,
    "Smoothie": 4,
    "Juice": 3
}

There are 10 unique items sold.
Unique values in Item category:
 ['Coffee' 'Cake' 'Cookie' 'Salad' 'Smoothie' 'UNKNOWN' 'Sandwich' nan
 'ERROR' 'Juice' 'Tea']

#### Using items_prices dict, replace incorrect values in 'Item' column using 'Price Per Unit' column values 
1. Create dictionary that puts item to price
2. Create dataset that has incorrect values in 'Item' column 
3. Replace the values accordingly using the new dictionary

In [10]:
# list of item names
correct_item_values = ['Coffee','Cake','Cookie','Salad','Smoothie', 'Sandwich', 'Juice' , 'Tea']

df["Price Per Unit"] = df["Total Spent"] / df["Quantity"]

# filter by 'Item' with correct item names, then use '~' to negate that, leaving all incorrect item names
df_item_incorrect = df[~df["Item"].isin(correct_item_values)]
print((df_item_incorrect).head(50))


# generate dictionary of price-item
price_to_item = {value: key for key, value in items_prices.items()}

    Transaction ID     Item  Quantity  Price Per Unit  Total Spent  Payment Method  Location Transaction Date
6      TXN_4433211  UNKNOWN         3             3.0          9.0           ERROR  Takeaway       2023-10-06
8      TXN_4717867      NaN         5             3.0         15.0             NaN  Takeaway       2023-07-28
14     TXN_8915701    ERROR         2             1.5          3.0             NaN  In-store       2023-03-21
30     TXN_1736287      NaN         5             2.0         10.0  Digital Wallet       NaN       2023-06-02
31     TXN_8927252  UNKNOWN         2             NaN          NaN     Credit Card     ERROR       2023-11-06
33     TXN_7710508  UNKNOWN         5             1.0          5.0            Cash       NaN              NaT
36     TXN_6855453  UNKNOWN         4             3.0         12.0             NaN  In-store       2023-07-17
52     TXN_8914892  UNKNOWN         5             5.0         25.0  Digital Wallet       NaN       2023-03-15
61     TXN_8051289      NaN         1             3.0          3.0             NaN  In-store       2023-10-09
63     TXN_9099694  UNKNOWN         3             5.0         15.0             NaN  Takeaway       2023-11-18
69     TXN_8471743    ERROR         5             3.0         15.0  Digital Wallet  In-store       2023-04-06
72     TXN_6044979      NaN         1             1.0          1.0            Cash  In-store       2023-12-08
88     TXN_9487821    ERROR         1             5.0          5.0  Digital Wallet  Takeaway       2023-05-24
89     TXN_4132730      NaN         5             1.0          5.0             NaN  In-store       2023-03-12
91     TXN_5455936  UNKNOWN         5             3.0         15.0             NaN  In-store       2023-10-28
100    TXN_9517146      NaN         5             5.0         25.0            Cash  Takeaway       2023-10-30
118    TXN_4633784    ERROR         5             3.0         15.0             NaN  In-store       2023-02-06
151    TXN_4031509      NaN         4             4.0         16.0     Credit Card  Takeaway       2023-01-04
153    TXN_6541415  UNKNOWN         0             inf         12.0            Cash  In-store       2023-11-25
165    TXN_3226832  UNKNOWN         5             4.0         20.0            Cash   UNKNOWN       2023-09-04
168    TXN_3494565      NaN         2             4.0          8.0           ERROR       NaN       2023-07-10
184    TXN_3831848  UNKNOWN         1             4.0          4.0  Digital Wallet  Takeaway       2023-11-03
197    TXN_5115080      NaN         5             3.0         15.0     Credit Card       NaN       2023-02-18
203    TXN_8964522      NaN         3             3.0          9.0     Credit Card  Takeaway       2023-10-28
211    TXN_6717827    ERROR         3             5.0         15.0  Digital Wallet       NaN       2023-11-15
216    TXN_3499124    ERROR         4             4.0         16.0     Credit Card       NaN       2023-08-25
227    TXN_2651216  UNKNOWN         3             4.0         12.0             NaN       NaN       2023-04-04
235    TXN_7077119    ERROR         1             4.0          4.0  Digital Wallet  In-store       2023-12-30
241    TXN_3205009    ERROR         2             1.5          3.0            Cash  In-store       2023-01-03
247    TXN_9238066      NaN         5             1.5          7.5  Digital Wallet  In-store       2023-09-15
249    TXN_6714420    ERROR         2             3.0          6.0     Credit Card  Takeaway       2023-03-30
258    TXN_8929774    ERROR         3             3.0          9.0            Cash       NaN       2023-10-02
269    TXN_8669422      NaN         4             3.0         12.0            Cash  Takeaway       2023-10-15
281    TXN_9913877    ERROR         2             2.0          4.0     Credit Card       NaN       2023-05-09
283    TXN_1842675    ERROR         4             1.0          4.0     Credit Card  Takeaway       2023-06-23
288    TXN_6953697  UNKNOWN         3             4.0         12.0             NaN  Takeaway       2023-05-27
289    TXN_3495950      NaN         4             1.5          6.0     Credit Card  In-store       2023-02-19
311    TXN_5446858      NaN         1             1.0          1.0            Cash  In-store       2023-11-07
323    TXN_8955259    ERROR         2             4.0          8.0     Credit Card       NaN       2023-11-18
326    TXN_1340956    ERROR         4             2.0          8.0             NaN       NaN       2023-10-26
334    TXN_2523298      NaN         4             1.5          6.0           ERROR  In-store       2023-03-25
356    TXN_8365478      NaN         3             4.0         12.0            Cash  Takeaway       2023-02-06
362    TXN_8276635      NaN         4             4.0         16.0  Digital Wallet  Takeaway       2023-12-16
366    TXN_7569615    ERROR         2             3.0          6.0            Cash  Takeaway       2023-06-07
369    TXN_9421441      NaN         2             4.0          8.0            Cash       NaN       2023-06-20
370    TXN_9065402  UNKNOWN         1             5.0          5.0            Cash  Takeaway       2023-12-22
372    TXN_2635532    ERROR         4             4.0         16.0            Cash  Takeaway       2023-01-14
385    TXN_3283097    ERROR         5             2.0         10.0            Cash  Takeaway       2023-02-28
386    TXN_2633602  UNKNOWN         2             3.0          6.0  Digital Wallet  In-store       2023-02-02
388    TXN_3515730      NaN         1             1.0          1.0     Credit Card       NaN       2023-08-14

In [11]:
# use the index of rows in df_item_incorrect to replace incorrect values with the price dictionary 
for index in df_item_incorrect.index:
    # If the "Price Per Unit" exists in the price_to_item dictionary, replace "Item" with the corresponding key.
    # If no match is found in price_to_item, set "Item" to "No Price per unit".
    df.loc[index,"Item"] = price_to_item.get(df.loc[index, "Price Per Unit"], "No Price per unit")
    
print(df["Item"].unique())


missing_item_name = df[df["Item"]=="No Price per unit"]
print(missing_item_name.head(50))

['Coffee' 'Cake' 'Cookie' 'Salad' 'Smoothie' 'Juice' 'Sandwich' 'Tea'
 'No Price per unit']
     Transaction ID               Item  Quantity  Price Per Unit  Total Spent  Payment Method  Location Transaction Date
31      TXN_8927252  No Price per unit         2             NaN          NaN     Credit Card     ERROR       2023-11-06
153     TXN_6541415  No Price per unit         0             inf         12.0            Cash  In-store       2023-11-25
434     TXN_4796350  No Price per unit         0             inf         12.0             NaN  Takeaway              NaT
551     TXN_4152036  No Price per unit         0             inf          6.0            Cash       NaN              NaT
686     TXN_4679409  No Price per unit         0             inf          2.0             NaN  In-store       2023-03-25
699     TXN_6434414  No Price per unit         1             NaN          NaN  Digital Wallet  Takeaway       2023-03-10
724     TXN_5213542  No Price per unit         0             inf          6.0     Credit Card  In-store       2023-08-21
727     TXN_8297135  No Price per unit         2             NaN          NaN           ERROR       NaN       2023-09-16
796     TXN_8354174  No Price per unit         3             NaN          NaN     Credit Card     ERROR       2023-12-29
991     TXN_5651348  No Price per unit         3             NaN          NaN            Cash  Takeaway       2023-11-04
1142    TXN_2726700  No Price per unit         0             inf          3.0  Digital Wallet       NaN       2023-04-10
1149    TXN_4090904  No Price per unit         0             inf          7.5  Digital Wallet  In-store       2023-08-04
1186    TXN_6191123  No Price per unit         2             NaN          NaN  Digital Wallet  Takeaway       2023-03-01
1254    TXN_5080213  No Price per unit         1             NaN          NaN  Digital Wallet       NaN       2023-07-18
1345    TXN_8551432  No Price per unit         0             inf          6.0             NaN  Takeaway       2023-01-12
1451    TXN_3195257  No Price per unit         0             inf          5.0            Cash       NaN       2023-10-09
1513    TXN_4657842  No Price per unit         0             inf          5.0            Cash  Takeaway       2023-09-29
1692    TXN_5182399  No Price per unit         3             NaN          NaN  Digital Wallet  Takeaway       2023-09-08
1753    TXN_6306655  No Price per unit         4             NaN          NaN  Digital Wallet  Takeaway       2023-01-22
1761    TXN_3611851  No Price per unit         4             NaN          NaN     Credit Card       NaN       2023-02-09
1843    TXN_3064922  No Price per unit         0             inf         10.0            Cash       NaN       2023-11-12
1889    TXN_1185118  No Price per unit         5             NaN          NaN             NaN       NaN              NaT
1962    TXN_1339457  No Price per unit         3             NaN          NaN  Digital Wallet  In-store       2023-05-23
2015    TXN_4449173  No Price per unit         0             inf          2.0  Digital Wallet  Takeaway       2023-04-05
2043    TXN_4671054  No Price per unit         0             inf         20.0            Cash       NaN       2023-06-20
2139    TXN_6365371  No Price per unit         2             NaN          NaN     Credit Card       NaN       2023-06-16
2159    TXN_2130415  No Price per unit         0             inf          2.0  Digital Wallet  Takeaway       2023-12-08
2270    TXN_9710307  No Price per unit         0             inf          3.0         UNKNOWN  Takeaway       2023-01-24
2281    TXN_8669012  No Price per unit         3             NaN          NaN  Digital Wallet       NaN       2023-07-26
2289    TXN_7524977  No Price per unit         4             NaN          NaN           ERROR       NaN       2023-12-09
2371    TXN_9181144  No Price per unit         3             NaN          NaN             NaN  Takeaway       2023-10-25
2433    TXN_9601220  No Price per unit         3             NaN          NaN  Digital Wallet  Takeaway       2023-04-20
2483    TXN_5203710  No Price per unit         0             inf         20.0  Digital Wallet       NaN       2023-04-22
2519    TXN_3879110  No Price per unit         4             NaN          NaN     Credit Card  Takeaway       2023-03-18
2583    TXN_4328090  No Price per unit         0             inf          4.0  Digital Wallet  In-store       2023-04-18
2787    TXN_3995843  No Price per unit         3             NaN          NaN             NaN  In-store       2023-12-31
2802    TXN_7323833  No Price per unit         3             NaN          NaN     Credit Card       NaN       2023-04-09
2968    TXN_4791105  No Price per unit         3             NaN          NaN             NaN  Takeaway       2023-05-18
3010    TXN_1349215  No Price per unit         0             inf          4.0  Digital Wallet       NaN       2023-02-06
3149    TXN_7675213  No Price per unit         0             inf          8.0  Digital Wallet  In-store       2023-03-08
3210    TXN_3321611  No Price per unit         3             NaN          NaN             NaN  Takeaway       2023-09-09
3289    TXN_7828462  No Price per unit         0             inf          4.5            Cash  Takeaway       2023-01-11
3322    TXN_4081759  No Price per unit         0             inf          4.0             NaN       NaN       2023-09-30
3373    TXN_4465589  No Price per unit         0             inf          3.0     Credit Card       NaN       2023-03-26
3374    TXN_2035838  No Price per unit         0             inf         15.0  Digital Wallet  Takeaway       2023-02-01
3520    TXN_3599216  No Price per unit         0             inf          1.5            Cash  In-store       2023-09-21
3600    TXN_1784150  No Price per unit         3             NaN          NaN             NaN       NaN       2023-03-10
3659    TXN_1118799  No Price per unit         4             NaN          NaN     Credit Card  Takeaway       2023-09-19
3779    TXN_7376255  No Price per unit         0             inf         25.0             NaN  In-store       2023-05-27
3805    TXN_6269540  No Price per unit         0             inf         12.0             NaN       NaN       2023-12-06

#### missing_item_name

missing_item_name = df[df["Item"]=="No Price per unit"]


- This gives a dataset that has no 'Item' AND 'Price per Unit' entry. 
- Use 'Total Spent' / 'Quantity' to get 'Price per Unit'
- Drop rows where I still get an error after the step above

In [12]:
# Loop through index rows to get Price per unit value
for index in missing_item_name.index:
    df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
    # drop rows that have price per unit of $4 or $3 because the Item name is not reconciliable 
    # there are items with same price of $4 or $3, unable to determine the item name 
    if df.loc[index,"Price Per Unit"] == 4 or df.loc[index,"Price Per Unit"] == 3:
        df.drop(index, axis = 0, inplace=True)
    elif df.loc[index,"Price Per Unit"] in price_to_item.keys():
        # match the 'price per unit' to 'price_to_item' dictionary to get item names 
        df.loc[index,"Item"] = price_to_item.get(df.loc[index,"Price Per Unit"], "To be dropped")
    else:
        # drop all rows. Means that these rows have errors either columns (Total Spent or Quantity)
        # so we can determine neither item name nor price per unit
        df.drop(index, axis = 0, inplace=True)
        
print(df[df["Item"] == "No Price per unit"])

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")
/var/folders/y7/pkyxqbyj6973wsz_tt5b7sqr0000gn/T/ipykernel_73797/3184879312.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  df.loc[index,"Price Per Unit"] = pd.to_numeric(df.loc[index,"Total Spent"] / df.loc[index,"Quantity"], errors = "coerce")

----------

## Rectify 'Price Per Unit' column

#### Reconcile NaN 'Price Per Unit' values 
1. using price dictionary to match Item names
2. Use 'Total Spent' / 'Quantity'

In [13]:
missing__price_per_unit = df[df["Price Per Unit"].isna()]

for index in missing__price_per_unit.index:
    df.loc[index,"Price Per Unit"] = items_prices.get(df.loc[index, "Item"], df.loc[index,"Price Per Unit"])

df.loc[df["Price Per Unit"].isna(), "Price Per Unit"] = pd.to_numeric(
    df["Total Spent"] / df["Quantity"], 
    errors = "coerce")

print(sorted(df["Price Per Unit"].unique()))

[1.0, 1.5, 2.0, 3.0, 4.0, 5.0, inf]

In [14]:
df = df.drop(df.loc[df["Price Per Unit"]== np.inf].index, axis = 0)
print(sorted(df["Price Per Unit"].unique()))

[1.0, 1.5, 2.0, 3.0, 4.0, 5.0]

------
## Rectify Quantity column

In [15]:
print(np.sort(df["Quantity"].unique()))

[0 1 2 3 4 5]

In [16]:
# Identify values that are 0 in Quantity column 

df.loc[df["Quantity"] == 0, "Quantity"] = pd.to_numeric(
    df["Total Spent"] / df["Price Per Unit"], 
    errors='coerce')

print(sorted(df["Quantity"].unique()))

[1.0, 2.0, 3.0, 4.0, 5.0, nan]

In [17]:
# extract rows that still contain NaN values in Quantity
missing_qty = df[df["Quantity"].isna()]
print(missing_qty.head(50))

     Transaction ID      Item  Quantity  Price Per Unit  Total Spent  Payment Method  Location Transaction Date
236     TXN_8562645     Salad       NaN             5.0          NaN             NaN  In-store       2023-05-18
278     TXN_3229409     Juice       NaN             3.0          NaN            Cash  Takeaway       2023-04-15
641     TXN_2962976     Juice       NaN             3.0          NaN             NaN       NaN       2023-03-17
738     TXN_8696094  Sandwich       NaN             4.0          NaN             NaN  Takeaway       2023-05-14
2796    TXN_9188692      Cake       NaN             3.0          NaN     Credit Card       NaN       2023-12-01
3203    TXN_4565754  Smoothie       NaN             4.0          NaN  Digital Wallet  Takeaway       2023-10-06
3224    TXN_6297232    Coffee       NaN             2.0          NaN             NaN       NaN       2023-04-07
3401    TXN_3251829       Tea       NaN             1.5          NaN  Digital Wallet  In-store       2023-07-25
4257    TXN_6470865    Coffee       NaN             2.0          NaN  Digital Wallet  Takeaway       2023-09-18
5841    TXN_5884081    Cookie       NaN             1.0          NaN  Digital Wallet  In-store       2023-07-05
7029    TXN_4628338    Coffee       NaN             2.0          NaN            Cash       NaN       2023-12-25
7297    TXN_9944500  Smoothie       NaN             4.0          NaN            Cash  In-store       2023-01-03
8021    TXN_2428781     Salad       NaN             5.0          NaN             NaN  In-store       2023-05-09
8443    TXN_2023651  Sandwich       NaN             4.0          NaN            Cash  In-store       2023-05-25
8465    TXN_9669616    Coffee       NaN             2.0          NaN             NaN     ERROR       2023-06-03
8479    TXN_1547245  Sandwich       NaN             4.0          NaN             NaN  Takeaway       2023-09-11
8574    TXN_2546684     Juice       NaN             3.0          NaN  Digital Wallet  Takeaway       2023-04-08
8732    TXN_4550558    Cookie       NaN             1.0          NaN     Credit Card  In-store       2023-08-04
9590    TXN_9924732  Sandwich       NaN             4.0          NaN     Credit Card  In-store       2023-01-18
9869    TXN_1975184    Coffee       NaN             2.0          NaN  Digital Wallet       NaN       2023-01-15

##### Drop rows 

Will drop rows that appear in missing_qty because it means that there are at least 2 columns with missing numerical values and are not reconciliable.

In [18]:
df = df.drop(missing_qty.index, axis = 0, errors = "ignore")
print(sorted(df["Quantity"].unique()))

[1.0, 2.0, 3.0, 4.0, 5.0]

#### 
There are no more NaN values in 'Quantity' column.

## Rectify 'Total Spent' column

In [19]:
missing_total_spent = df[df["Total Spent"].isna()]

# Recalculate and fill missing values in the "Total Spent" column by multiplying 
# the corresponding "Quantity" and "Price Per Unit" for rows where "Total Spent" is NaN
df.loc[df["Total Spent"].isna(), "Total Spent"] = df.loc[df["Total Spent"].isna(), "Quantity"] * df.loc[df["Total Spent"].isna(), "Price Per Unit"]

In [20]:
missing_total_spent

     Transaction ID      Item  Quantity  Price Per Unit  Total Spent  Payment Method  Location Transaction Date
2       TXN_4271903    Cookie       4.0             1.0          NaN     Credit Card  In-store       2023-07-19
25      TXN_7958992  Smoothie       3.0             4.0          NaN         UNKNOWN   UNKNOWN       2023-12-13
42      TXN_6650263       Tea       2.0             1.5          NaN             NaN  Takeaway       2023-01-10
65      TXN_4987129  Sandwich       3.0             4.0          NaN             NaN  In-store       2023-10-20
94      TXN_6289610     Juice       3.0             3.0          NaN            Cash  Takeaway       2023-08-07
...             ...       ...       ...             ...          ...             ...       ...              ...
9893    TXN_3809533     Juice       2.0             3.0          NaN  Digital Wallet  Takeaway       2023-02-02
9954    TXN_1191659    Coffee       4.0             2.0          NaN     Credit Card  In-store       2023-11-21
9977    TXN_5548914     Juice       2.0             3.0          NaN  Digital Wallet  In-store       2023-11-04
9988    TXN_9594133      Cake       5.0             3.0          NaN           ERROR       NaN              NaT
9993    TXN_4766549  Smoothie       2.0             4.0          NaN            Cash       NaN       2023-10-20

[432 rows x 8 columns]

In [21]:
for col in df.columns[1:5]:  
    print(f'{col} : {sorted(df[col].unique())}')

Item : ['Cake', 'Coffee', 'Cookie', 'Juice', 'Salad', 'Sandwich', 'Smoothie', 'Tea']
Quantity : [1.0, 2.0, 3.0, 4.0, 5.0]
Price Per Unit : [1.0, 1.5, 2.0, 3.0, 4.0, 5.0]
Total Spent : [1.0, 1.5, 2.0, 3.0, 4.0, 4.5, 5.0, 6.0, 7.5, 8.0, 9.0, 10.0, 12.0, 15.0, 16.0, 20.0, 25.0]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9471 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9471 non-null   object
 1   Item              9471 non-null   object
 2   Quantity          9471 non-null   float64
 3   Price Per Unit    9471 non-null   float64
 4   Total Spent       9471 non-null   float64
 5   Payment Method    7036 non-null   object
 6   Location          6380 non-null   object
 7   Transaction Date  9037 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 665.9+ KB

In [23]:
df.head(50)

   Transaction ID      Item  Quantity  Price Per Unit  Total Spent  Payment Method  Location Transaction Date
0     TXN_1961373    Coffee       2.0             2.0          4.0     Credit Card  Takeaway       2023-09-08
1     TXN_4977031      Cake       4.0             3.0         12.0            Cash  In-store       2023-05-16
2     TXN_4271903    Cookie       4.0             1.0          4.0     Credit Card  In-store       2023-07-19
3     TXN_7034554     Salad       2.0             5.0         10.0         UNKNOWN   UNKNOWN       2023-04-27
4     TXN_3160411    Coffee       2.0             2.0          4.0  Digital Wallet  In-store       2023-06-11
5     TXN_2602893  Smoothie       5.0             4.0         20.0     Credit Card       NaN       2023-03-31
6     TXN_4433211     Juice       3.0             3.0          9.0           ERROR  Takeaway       2023-10-06
7     TXN_6699534  Sandwich       4.0             4.0         16.0            Cash   UNKNOWN       2023-10-28
8     TXN_4717867     Juice       5.0             3.0         15.0             NaN  Takeaway       2023-07-28
9     TXN_2064365  Sandwich       5.0             4.0         20.0             NaN  In-store       2023-12-31
10    TXN_2548360     Salad       5.0             5.0         25.0            Cash  Takeaway       2023-11-07
11    TXN_3051279  Sandwich       2.0             4.0          8.0     Credit Card  Takeaway              NaT
12    TXN_7619095  Sandwich       2.0             4.0          8.0            Cash  In-store       2023-05-03
13    TXN_9437049    Cookie       5.0             1.0          5.0             NaN  Takeaway       2023-06-01
14    TXN_8915701       Tea       2.0             1.5          3.0             NaN  In-store       2023-03-21
15    TXN_2847255     Salad       3.0             5.0         15.0     Credit Card  In-store       2023-11-15
16    TXN_3765707  Sandwich       1.0             4.0          4.0             NaN       NaN       2023-06-10
17    TXN_6769710     Juice       2.0             3.0          6.0            Cash  In-store       2023-02-24
18    TXN_8876618      Cake       5.0             3.0         15.0            Cash     ERROR       2023-03-25
19    TXN_3709394     Juice       4.0             3.0         12.0            Cash  Takeaway       2023-01-15
21    TXN_3567645  Smoothie       4.0             4.0         16.0     Credit Card  Takeaway       2023-03-30
22    TXN_5132361  Sandwich       3.0             4.0         12.0  Digital Wallet  Takeaway       2023-12-01
23    TXN_2616390  Sandwich       2.0             4.0          8.0             NaN       NaN       2023-09-18
24    TXN_9400181  Sandwich       5.0             4.0         20.0            Cash  In-store       2023-06-03
25    TXN_7958992  Smoothie       3.0             4.0         12.0         UNKNOWN   UNKNOWN       2023-12-13
26    TXN_5183041    Cookie       5.0             1.0          5.0     Credit Card  In-store       2023-04-20
27    TXN_5695074     Juice       4.0             3.0         12.0     Credit Card  Takeaway       2023-04-10
28    TXN_8467949  Smoothie       5.0             4.0         20.0     Credit Card       NaN       2023-03-11
29    TXN_7640952      Cake       4.0             3.0         12.0  Digital Wallet  Takeaway              NaT
30    TXN_1736287    Coffee       5.0             2.0         10.0  Digital Wallet       NaN       2023-06-02
32    TXN_9677376  Smoothie       4.0             4.0         16.0             NaN  In-store       2023-08-15
33    TXN_7710508    Cookie       5.0             1.0          5.0            Cash       NaN              NaT
34    TXN_8853997  Smoothie       2.0             4.0          8.0  Digital Wallet  Takeaway       2023-10-09
35    TXN_9130559  Sandwich       1.0             4.0          4.0     Credit Card   UNKNOWN       2023-05-28
36    TXN_6855453     Juice       4.0             3.0         12.0             NaN  In-store       2023-07-17
37    TXN_1080432     Salad       2.0             5.0         10.0     Credit Card  In-store       2023-04-29
38    TXN_2655815  Smoothie       4.0             4.0         16.0             NaN  Takeaway       2023-06-08
39    TXN_6688524    Coffee       4.0             2.0          8.0           ERROR       NaN       2023-06-29
40    TXN_2083138  Smoothie       3.0             4.0         12.0             NaN  In-store       2023-04-17
41    TXN_2427584  Sandwich       4.0             4.0         16.0             NaN  Takeaway       2023-12-22
42    TXN_6650263       Tea       2.0             1.5          3.0             NaN  Takeaway       2023-01-10
43    TXN_9620080     Juice       4.0             3.0         12.0             NaN  Takeaway       2023-10-02
44    TXN_1491578    Cookie       2.0             1.0          2.0             NaN       NaN       2023-02-23
45    TXN_5455792     Salad       3.0             5.0         15.0            Cash       NaN       2023-03-22
46    TXN_8078640     Juice       4.0             3.0         12.0  Digital Wallet  In-store       2023-11-03
47    TXN_9499313     Juice       5.0             3.0         15.0             NaN       NaN       2023-03-02
48    TXN_8201146     Juice       5.0             3.0         15.0            Cash       NaN       2023-06-26
49    TXN_8230936      Cake       3.0             3.0          9.0             NaN     ERROR       2023-05-02
50    TXN_7742742      Cake       5.0             3.0         15.0             NaN  Takeaway       2023-09-05
51    TXN_6342161     Salad       5.0             5.0         25.0           ERROR  Takeaway       2023-01-08

In [24]:
df_sorted = sorted(df["Price Per Unit"].unique())
df_sorted

[1.0, 1.5, 2.0, 3.0, 4.0, 5.0]